body {
    background: linear-gradient(to bottom, #6a2588, #8d37b3 ,#ba18ff) no-repeat; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.letras {
    color:rgb(27, 26, 25);
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 700;
}

.containerTitulo{
    display: flex; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 20px; 
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 4%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgb(27, 26, 25);
}

.titulo{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -55%;
    left: 27%;
}

.containerCliente{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 700px;
    position: absolute;
    top: 53%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.botaoVoltar{
    border-radius: 5px;
    width: 246px;
    height: 60px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: medium;
    position: absolute;
    left: 6%;
    top: -1.5%;
}

.imagemUsuario{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 17px;
    position: absolute;
    top: 15%;
    border-radius: 100px;
}

.usuario{
    display: flex;
    text-align: justify;
    align-self: start;
    position: absolute;
    left: 15%;
    top: 50%;
}


.containerKpi {
    display: flex;
    justify-content: center; /* Centraliza os blocos horizontalmente */
    align-items: flex-start; /* Alinha os blocos no topo */
    gap: 40px; /* Espaçamento entre os blocos */
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 12px;
    margin: 5px auto;
    padding: 15px;
    width: 77%; /* Define uma largura maior para caber os blocos */
    max-width: 1200px;
    height: auto;
    position: relative;
    top: 14%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.containerKpi b {
    display: flex;
    flex-direction: column; /* Faz a frase e o span ficarem em cima/embaixo */
    align-items: center; /* Centraliza cada par frase/span */
    font-size: 15px; /* Tamanho ajustado para leitura */
    text-align: center; /* Centraliza o texto */
}


.containerGrafico4{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 78%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
}

#grafico4 {
    max-width: 400px; 
    height: 200px; 
}

.containerGrafico5{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 210px;
}

#grafico5 {
    max-width: 410px; 
    height: 210px; 
}

.containerGrafico6{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 210px;
}

#grafico6 {
    max-width: 410px; 
    height: 210px; 
}

canvas {
    width: 100%; /* Mantém a largura em porcentagem */
    height: auto; /* Mantém a altura em proporção */
}
