body {
    background: linear-gradient(to bottom, #6a2588, #8d37b3 ,#ba18ff) no-repeat; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.letras {
    color:rgb(27, 26, 25);
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 700;
}

.containerTitulo{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 15px; 
    margin: 5px;
    padding: 5px;
    width: 400px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(27, 26, 25);
}

.containerSelect{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 90px;
    position: absolute;
    top: 21%;
    left: 13%;
    transform: translate(-50%, -50%);
}

select{
    border-radius: 5px;
    width: 150px;
    height: 130px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: medium;
}

.containerKpi{
    display: flex; 
    align-items: flex-start; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 5px;
    padding: 15px;
    position: absolute;
    top: 60%;
    left: 13%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    height: 280px;
    text-align: justify;
    justify-content: center;
}

.containerGrafico1{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico1 {
    max-width: 420px; 
    height: 210px;
}

.containerGrafico2{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 36%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico2 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico3{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico3 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico4{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico4 {
    max-width: 400px; 
    height: 200px; 
}

.containerGrafico5{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico5 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico6{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico6 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico7{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico7 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico8{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico8 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico9{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico9 {
    max-width: 420px; 
    height: 210px; 
}

.containerGrafico10{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-color: rgba(250, 238, 253, 0.92);
    border-radius: 10px; 
    margin: 15px;
    padding: 15px;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 210px;
}

#grafico10 {
    max-width: 420px; 
    height: 210px; 
}

canvas {
    width: 100%; /* Mantém a largura em porcentagem */
    height: auto; /* Mantém a altura em proporção */
}
