* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  background-size: cover;
  background-color: #1a172a;
  color: #fff;
}

.containerCliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 19, 43, 0.949);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  gap: 70px;
}

.imagemUsuario {
  width: 200px;
  height: 200px;
  display: flex;
  object-fit: cover;
  border: 5px solid #8E44AD;
  border-radius: 100px;
}

.usuario {
  display: flex;
  justify-content: center;
  text-align: left;
  align-self: center;
  
 
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

.containerNotificacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
 
  background-color: aliceblue;
  border-radius: 7px;
  height: 220px;
  width: 218px;
  margin: 10px;
  font-weight: 500;
  font-size: 13px;
  padding: 10px; 
  box-sizing: border-box; 
}

.alerta {
  font-weight: 700;
  color: rgb(177, 26, 26);
  display: inline; /* Garante que a span não quebre a linha */
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to right,
   #28223D,
   #8E44AD 
  );
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.text h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 45px;
}

.text p {
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
  margin-top: 30px;
  width: 50%;
}

.wines {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wines ul {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  flex-wrap: wrap;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.wines ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  color: #8E44AD;
  padding: 10px;
  margin: 10px 20px;
  transition: .3s;
}

.wines ul li .titulo-adega {
  color: #fff;
}

.wines ul li a {
  height: 100px;
  width: 280px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #8E44AD;
  border: 2px solid #8E44AD;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
}

.wines ul li a:hover {
  background-color: #8E44AD;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.perigo-quente,
.perigo-frio {
  border-color: rgb(177, 26, 26) !important;
}

.alerta-quente,
.alerta-frio {
  border-color: #ffee58 !important;
}

.ideal {
  border-color: #8E44AD !important;
}