.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    color: var(--text-color-light);
    text-align: center;
    z-index: 10;
    transition: 1s;
}

.login-container.move .overlay-container {
    transform: translateX(0%);
}

.no-transition .overlay-container {
    transition: none;
  }